<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="pragma" content="no-cache">
    <title>Elevator Control Panel</title>
    <link th:href="@{/style.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/ElevatorSystemScript.js}"></script>
</head>
<body bgcolor="#111">
<div>
    <h1>Elevator Control Panel</h1>
    <h2 th:text="${'Number of elevators: ' + elevatorController.elevators.size()}"></h2>
    <h2 style="display: inline-block">Simulation status: </h2>
    <input id="simulationStatus" type="checkbox">
    <table id="elevatorTable">
        <thead>
            <tr>
                <th><h2>Elevator #</h2></th>
                <th><h2>Current Floor</h2></th>
                <th><h2>Current Target</h2></th>
                <th><h2>Actions</h2></th>
            </tr>
            </thead>
        <tbody>
        <tr th:id="${'elevator' + elevator.id}" th:each="elevator : ${elevatorController.elevators}">
            <td><h2 th:text="${elevator.id}"></h2></td>
            <td><h2 th:id="${'statusFloor' + elevator.id}" th:text="${elevator.currentFloor}"></h2></td>
            <td><h2 th:id="${'statusTarget' + elevator.id}" th:text="${elevator.currentTarget} ?: '-'"></h2></td>
            <td><a th:href="${'/elevator/' + elevator.id}" >ⓘ</a><td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <h2 style="display: inline-block">Select a floor: </h2>
    <input id="floor" type="number" step="1" onchange="this.value = parseInt(this.value);" style="margin-left: 20px"/>
    <button id="direction" style="display: inline-block" onclick="this.innerText = this.innerText === 'up' ? 'down' : 'up'">up</button>
    <button onclick="pickUp()" type="button">Pick Up</button>
</div>

<div>
    <h2 style="margin-bottom: 10px">Create new control panel: </h2>
    <h2 style="display: inline-block">Number of elevators (1 - 16): </h2>
    <input id="numOfElevators" type="number" min="1" max="16" step="1" onchange="this.value = parseInt(this.value);" style="margin-left: 20px"/>
    <button type="button" onclick="createElevatorSystem(document.getElementById('numOfElevators').value)">Create!</button>
</div>
</body>
</html>
